body {
  color: #525252;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

h1, h2, h3 {
  color: #6D6D6D;
  font-family: "Mongolian Baiti";
  font-weight: normal;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

a {
  color: #525252;
}

a:hover {
  color: #3D6EB5;
}

.icon {
  float: left;
  margin-right: 15px;
}

#viewport {
  background-image: url('banner.png');
  background-repeat: no-repeat;
  background-position: -40px -40px;
  margin: 0 auto;
  padding-top: 300px;
  width: 980px;
}

#center {
  overflow: hidden;
}

#menu {
  background-color: #919191;
  color: #cccccc;
  height: 60px;
  position: absolute;
  top: 240px;
  width: 100%;
}

.container {
  line-height: 60px;
  margin: 0 auto;
  width: 980px;
}

#menu a {
  color: #cccccc;
  text-decoration: none;
}

#menu a:hover {
  color: #efefef;
}

#menu ul {
  margin: 0 0 0 80px;
}

#menu li {
  display: inline-block;
  margin-left: 25px;
}

#content {
  float: left;
  margin-right: 50px;
  width: 60%;
}

#content p {
  font-size: 16px;
  line-height: 27px;
}

#content iframe {
  border: none;
  margin: 20px 0;
  overflow: hidden;
}

#content .item {
  padding-left: 60px;
  position: relative;
}

#content .item, #content > img {
  margin-top: 30px;
}

#content .item ul {
  margin: 0;
}

#content .item p, #content .item li {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

#content .item img {
  left: 0;
  position: absolute;
  top: 5px;
}

#content td {
  padding-right: 40px;
}

#press {
  position: relative;
}

#press a {
  margin: 2px;
}

#press a:hover {
  border: solid #cccccc 2px;
  margin: 0;
}

#info_bar_right {
  background-color: #efefef;
  border-left: solid #cccccc 1px;
  color: #4F4F4F;
  float: left;
  font-size: 13px;
  line-height: 1.8em;
  padding: 50px 0 50px 0;
  width: 33%;
}

#info_bar_right p, #info_bar_right ul {
  padding-left: 30px;
}

#info_bar_right li {
  list-style: none;
}

#info_bar_right li::first-letter {
  font-weight: bold;
}

.social-media {
  float: left;
  margin: 15px 0 0 30px;
}

#boxes {
  clear: both;
  margin-top: 50px;
  overflow: hidden;
}

#boxes div {
  float: left;
  width: 33%;
}

#boxes div img {
  float: left;
  margin-right: 5px;
}

#boxes p {
  font-size: 14px;
  line-height: 1.6em;
  margin: 40px 0;
  padding-right: 50px;
}

#footer {
  background-color: #919191;
  color: #efefef;
  font-size: 12px;
  height: 60px;
  margin-top: 30px;
  width: 100%;
}

#footer a {
  color: #efefef;
  text-decoration: none;
}

#footer a:hover {
  color: #cccccc;
}
