- content_for :title do
  AGB | Actors and Business Coaching
:markdown
  # Allgemeine Geschäftsbedingungen

  ## Michael Zemlin, M.A. - Actors and Business Coaching

  ### 1. Allgemeines, Geltungsbereich
  Michael Zemlin führt Coaching und Beratung gemäß diesen Allgemeinen Geschäftsbedingungen (AGBs) durch. Mit der
  Beauftragung gelten diese Bedingungen vom Auftraggeber (im Folgenden auch Klient) als angenommen. Entgegenstehende
  oder von diesen Bedingungen abweichende Bedingungen des Auftraggebers erkennt Michael Zemlin nicht an. Weitere
  Vereinbarungen sind nur verbindlich, wenn diese von Michael Zemlin schriftlich bestätigt werden.
  
  ### 2. Angebote, Honorare, Zahlungsbedingungen
  Die Angebote sind freibleibend. Änderungen sind vorbehalten. Für Coaching-Leistungen werden individuell vereinbarte
  Honorare berechnet. Nebenkosten (z.B. Telefongebühren, Auslagen, Reise- und Übernachtungskosten) werden dem Klienten
  bzw. Auftraggeber gesondert in Rechnung gestellt. Solange keine schriftliche Kostenzusage von anderer Stelle vorliegt,
  gilt der Klient als Schuldner des Honorars. Sofern nichts anderes vereinbart ist, wird das Honorar jeweils in bar nach
  jeder Sitzung entrichtet.
  
  ### 3. Absage eines Termins
  Vereinbarte Termine sind grundsätzlich verbindlich. Zeit und Ort des Coaching werden von den Coaching-Partnern
  einvernehmlich vereinbart. Der Klient verpflichtet sich, zu allen Terminen pünktlich zu erscheinen.
  Eine kostenfreie Absage oder Terminverschiebung der Coaching- Sitzungen ist bis spätestens zwei Werktage vor dem
  Termin möglich. Danach wird das volle Honorar in Rechnung gestellt.
  
  ### 4. Höhere Gewalt, Leistungshindernisse
  Michael Zemlin ist berechtigt, bei höherer Gewalt die vereinbarten Termine zu verschieben, hierunter fallen auch
  Leistungshindernisse, die aufgrund Krankheit, Unfall oder ähnlichem entstanden sind.
  
  ### 5. Urheberschaft
  Mögliche, dem Klienten überlassene Unterlagen in Wort und Bild, sind ausschließlich zum persönlichen Gebrauch des
  Klienten bestimmt. Dem Klienten ist es nicht gestattet, die Unterlagen ohne schriftliche Zustimmung von Michael Zemlin
  ganz oder auszugsweise zu reproduzieren und/oder Dritten zugänglich zu machen. Eine Veröffentlichung, auch
  auszugsweise, ist untersagt und kann strafrechtlich verfolgt werden.
  
  ### 6. Versicherungsschutz
  Der Klient trägt die volle Verantwortung für sich und seine Handlungen innerhalb und außerhalb der Coaching-Sitzungen
  und kommt für eventuell verursachte Schäden selbst auf. Die Teilnahme setzt eine übliche psychische und physische
  Belastbarkeit voraus. Die Klienten haben deshalb keinen Versicherungsschutz durch Michael Zemlin.
  
  ### 7. Haftung
  Die Informationen und gegebenenfalls Ratschläge in Coaching-Sitzungen sind durch Michael Zemlin sorgfältig erwogen.
  Bei der Tätigkeit von Michael Zemlin handelt es sich um eine reine Dienstleistungstätigkeit. Ein Erfolg ist daher
  nicht geschuldet. Eine Haftung wird ausgeschlossen.
  
  ### 8. Vertraulichkeit
  Michael Zemlin verpflichtet sich, über alle im Rahmen der Tätigkeit bekannt gewordenen betrieblichen, geschäftlichen
  und privaten Angelegenheiten des Klienten auch nach der Beendigung des Vertrages / der Zusammenarbeit Stillschweigen
  gegenüber Dritten zu bewahren.
  
  ### 9. Abgrenzung zur Psychotherapie
  Coaching ist keine Therapie und ersetzt diese auch nicht. Coaching basiert auf einer Coach-Klienten-Beziehung, die
  durch ein partnerschaftliches Miteinander gekennzeichnet ist und dabei die Rolle des Coaches klar von Therapeuten und
  Ärzten abgrenzt. Das Ergebnis eines Coaching stellt nicht die Linderung psychischer Beschwerden dar, sondern die
  individuelle Weiterentwicklung des Klienten, womit eine Steigerung der allgemeinen Lebensqualität einhergehen kann.
  
  ### 10. Sektenerklärung
  Hiermit erklärt Michael Zemlin, dass er nicht nach der Technologie von L. Ron Hubbard (Gründer der
  Scientology-Organisation) arbeitet oder gearbeitet hat, dass er nicht nach der Technologie von L. Ron Hubbard geschult
  wurde und keine Kurse und / oder Seminare bei der Scientology-Organisation besucht oder besucht hat, in denen nach der
  Technologie von L. Ron Hubbard gearbeitet wird, und dass sämtliche Coachings und Beratungen nicht nach dieser
  Technologie durchgeführt werden. Zudem lehnt er sektiererische Praktiken jedweder Art ab und distanziert sich
  ausdrücklich von Sekten und sektenähnlichen Organisationen.
  
  ### 11. Schlussbestimmung
  Sollten einzelne Bestimmungen eines Vertrages mit dem Klienten einschließlich dieser Allgemeinen Geschäftsbedingungen
  ganz oder teilweise unwirksam sein oder werden, so wird hierdurch die Gültigkeit der übrigen Bestimmungen nicht
  berührt. Die ganz oder teilweise unwirksame Regelung soll durch eine Regelung ersetzt werden, deren wirtschaftlicher
  Erfolg dem der unwirksamen möglichst nahe kommt.
  
  ### 12. Erfüllungsort und Gerichtsstand
  Erfüllungsort ist Flensburg. Gerichtstand ist das zuständige Amtsgericht Flensburg. Es gilt das Recht der
  Bundesrepublik Deutschland.
  
  Niesgrau, 01.04.2014 
