- content_for :title do
  COACHING | Actors and Business Coaching
%h1 Coaching...
%div.item
  %img{ src: 'assets/1.png', alt: '1' }
  :markdown
    **Mein Coaching** impliziert professionelle Begleitung bei Ihren beruflichen und privaten **Veränderungsprozessen**
    -- und zwar **mit einem klar definierten Ziel**!
%div.item
  %img{ src: 'assets/2.png', alt: '2' }
  :markdown
    Ich habe langjährige **Erfahrungen** in kulturellen und vertriebswirtschaftlichen Bereichen. Diese bilden
    in Verbindung mit meiner praxisorientierten Coaching-Ausbildung eine solide **Basis**, um mit Ihnen in beruflichen
    und privaten Fragestellungen diese **neuen Ziele** zu entwickeln und zu erreichen.
%div.item
  %img{ src: 'assets/3.png', alt: '3' }
  :markdown
    Sie wollen Ihr Agieren vor anderen Menschen, z.B. auf der **Bühne**, vor der **Kamera**, als **Redner** in der
    Öffentlichkeit oder im **Verkaufsgespräch** verbessern? Dann begleite ich Sie gerne mittels erfolgreich erprobter
    Methoden auf diesem Wege!
%img{ src: 'assets/theatre.jpg', alt: 'theatre' }
%div.item
  %img{ src: 'assets/4.png', alt: '4' }
  :markdown
    Sie stehen beim Coaching im Mittelpunkt, befinden sich bei mir in einem gesicherten, **vertraulichen Umfeld** und
    erhalten ein **wertschätzendes Feedback**. Wir entwickeln gemeinsam Ihre **authentische Selbstdarstellung** und
    finden Wege, Ihr **Lampenfieber** zu **vermindern**.
%div.item
  %img{ src: 'assets/5.png', alt: '5' }
  :markdown
    Wir betrachten gemeinsam neben Ihrer persönlichen Befindlichkeit Ihre Gestik und Mimik, Ihre Körpersprache, Stimme,
    Aussprache, Ausstrahlung und Ihr Outfit -- also Ihr **gesamtes Auftreten**.
%div.item
  %img{ src: 'assets/6.png', alt: '6' }
  :markdown
    Das Coaching kann bei Ihnen, in einem Studio oder in meinen Räumlichkeiten stattfinden.
    Ich begleite Sie auf Wunsch anonym zu Auftritten oder Verkaufsgesprächen, stehe Ihnen zur Seite und
    gebe Ihnen **wertschätzendes Feedback**.
%img{ src: 'assets/movie.jpg', alt: 'movie' }
%div.item
  %img{ src: 'assets/7.png', alt: '7' }
  :markdown
    Als Coach arbeite ich nach einem **sehr erfolgreich erprobten**, systemisch- individualpsychologischen
    **Ansatz** und unterstütze Sie bei der Erreichung Ihrer Veränderungsziele.
%div.item
  %img{ src: 'assets/8.png', alt: '8' }
  :markdown
    **Meine Coaching-Methoden sind:**
  %ul
    %li gesprächsbasiert
    %li kreativ und humorvoll
    %li individuell auf Sie zugeschnitten
    %li durch aktive Übungen unterstrichen
    %li zielorientiert.
%div.item
  %img{ src: 'assets/9.png', alt: '9' }
  :markdown
    Außerdem biete ich Ihnen Unterstützung an, wenn Sie Ihre **Work-Private-Balance** finden, Ihr
    **Zeit-Management** optimieren und Ihre **Selbst-Organisation** verbessern wollen...
  :markdown
    \...sowie bei Vorbereitungen für Ihre **Bewerbungsgespräche** oder zu einem **Casting**.
%div.item
  %img{ src: 'assets/10.png', alt: '10' }
  :markdown
    Termine, Ort und Anzahl der Gespräche sowie das **Honorar** werden **individuell** vereinbart. 
    Das Erstgespräch -auch telefonisch- ist kostenlos.
  :markdown
    Bitte **[kontaktieren Sie mich](mailto:info@a-b-coaching.net)**.
  %p
    Die Ausgaben für Weiterbildungen können Sie i.d.R. von der Steuer absetzen!
%img{ src: 'assets/speech.jpg', alt: 'speech' }
#info_b
