- content_for :title do
  IMPRESSUM | Actors and Business Coaching
%h1 Impressum
%h2 Angaben gemäß § 5 TMG:
:markdown
  **Actors and Business Coaching**  
  Michael Zemlin, M.A.  
  Stausmark 29b  
  24395 Niesgrau  

  | Telefon: | +49 (0) 4632 - 87 602 87 |
  | Mobil: | +49 (0) 172 - 685 69 42 |
  | E-Mail: | &#032;&#105;&#110;&#102;&#111;&#064;&#097;&#045;&#098;&#045;&#099;&#111;&#097;&#099;&#104;&#105;&#110;&#103;&#046;&#110;&#101;&#116; |
  | Web: | [www.a-b-coaching.net](http://www.a-b-coaching.net) |
  
  [Allgemeine Geschäftsbedingungen (AGB)](agb.html)
  
  **Webmaster**  
  Finn Glöe  
  Untere Straße 24a  
  76187 Karlsruhe
  
  **Webdesign**
  
  [![Lila Strand Film](assets/lilastrandfilm.png "Lila Strand Film")](http://www.lila-strand-film.de/)  
  Lila Strand Film  
  Finkenweg 14  
  24392 Süderbrarup
  
  | Tel.: | +49 (0) 4641 - 989 626 |
  | Fax.: | +49 (0) 4641 - 987 217 |
  | Mobil.: | +49 (0) 171 - 83 85 603 |
  | E-Mail: | &#105;&#110;&#102;&#111;&#064;&#108;&#105;&#108;&#097;&#045;&#115;&#116;&#114;&#097;&#110;&#100;&#045;&#102;&#105;&#108;&#109;&#046;&#100;&#101; |
  | Web: | [www.lila-strand-film.de](http://www.lila-strand-film.de) |
