- content_for :title do
  STARTSEITE | Actors and Business Coaching
- content_for :boxes do
  #boxes
    %div
      %img{ src: 'assets/a.png', alt: 'A' }
      %h1 ctors
      %p
        %b Studium:
        %br
        Germanistik, Theater- und Filmwissenschaften, Freie Universität Berlin, Abschluss Magister Artium, Studium
        der Musikwissenschaften an der Technischen Universität Berlin.
      %p
        %b Theater- und Film-Praxis:
        %br
        Darsteller, Regie-Assistent, Texter, Inspizient am Schiller-Theater Berlin, Hebbel-Theater Berlin,
        an der Deutschen Oper Berlin sowie bei Film und Fernsehen. Regisseur in Schleswig-Holstein.
    %div
      %img{ src: 'assets/b.png', alt: 'B' }
      %h1 usiness
      %p
        %b Ausbildung:
        %br
        Fach- und Führungskraft im Finanzsektor in Hamburg und Schleswig-Holstein.
      %p
        %b Tätigkeiten:
        %br
        Ärzteberater, Schulungsleiter, Verkaufs- und Bewerbungs&#8209;Trainer, Assessment&#8209;Center&#8209;Recruiter,
        Media&#8209;Berater.
    %div
      %img{ src: 'assets/c.png', alt: 'C' }
      %h1 oaching
      %p
        %b Weiterbildung:
        %br
        Coach mit Zertifikat, Institut L.E.B.  Bad Zwischenahn, unter wissenschaftlicher Begleitung durch Frau Dr.
        Maria Huchthausen (Verw. Prof.), HAWK, FH Hildesheim.
      %p
        %b Fach-Seminare:
        %br
        Osterberg-Institut, Niederkleveez, Schleswig-Holstein
        %br
        Michael Paula, Führungstrainer, Hamburg.
%h1 Ihr Auftritt, bitte...
%img{ style: 'margin: 15px 0', src: 'assets/profile.jpg', alt: 'profile' }
%p{ style: 'margin-top: 50px; font-size: 1.1em' }
  Herzlich willkommen!
  %br
  Wollen Sie Ihre Selbstdarstellung optimieren, ein wertschätzendes Feedback erhalten, Ihr Lampenfieber vermindern
  oder sich beruflich/privat verändern ...
  %br
  %br
  \...dann stehe ich Ihnen gerne als kompetenter Begleiter mit meinem professionellen Coaching zur Seite!
