!!! 5
%html{ lang: 'de' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'keywords', content: 'michael, zemlin, coaching niesgrau, auftritt, lampenfieber, work-life-balance, coach, coaching, coaching schleswig-holstein, regisseur, regie, film, werbefilm, imagefilm' }
    %title= yield :title
    %link{ rel: 'stylesheet', type: 'text/css', media:'screen', href: 'assets/style.css' }
    %link{ rel: 'shortcut icon', type: 'image/x-icon', href:'./favicon.ico' }
  %body
    #menu
      .container
        %ul
          %li
            %a{ href: './' } Startseite
          %li
            %a{ href: 'coaching.html' } Coaching
          %li
            %a{ href: 'referenzen.html' } Referenzen
          %li
            %a{ href: 'presse.html' } Presse
    #viewport
      #center
        #content= yield
        #info_bar_right
          :markdown
            **Michael Zemlin, M.A.**  
            **Stausmark 29b**  
            **24395 Niesgrau**  
            **Telefon: 04632-87 602 87**  
            **Mobil: 0172-685 69 42**  
            **E-Mail: &#032;&#105;&#110;&#102;&#111;&#064;&#097;&#045;&#098;&#045;&#099;&#111;&#097;&#099;&#104;&#105;&#110;&#103;&#046;&#110;&#101;&#116;**  

            **Magister Artium**  
            **Vertriebsleiter**  
            **Coach mit Zertifikat**  
            **Regisseur**  
            **Drehbuchautor**  
            **Media-Berater (sh:z)**  


            Geboren 1959 in Berlin.  
            Verheiratet, zwei Töchter.

            **In drei Welten zu Hause:**

            * Actors = Theater und Film
            * Business = Wirtschaft und Vertrieb
            * Coaching = Beratung und Begleitung
          .social-media
            %a{ href: 'https://www.facebook.com/pages/Actors-and-Business-Coaching/324306891066749?fref=ts', target: '_blank' }
              %img{ src: 'assets/facebook.jpg', alt: 'facebook' }
          .social-media
            %a{ href: 'https://www.xing.com/profile/Michael_Zemlin?preview=true', target: '_blank' }
              %img{ src: 'assets/xing.png', alt: 'xing' }
          %br{ style: 'clear: both;' }
          :markdown
            **Links:**
            
            [sh:z](http://www.shz.de/)  
            [Broschmann und Finke Theater Company](http://www.broschmann-finke.de/)
      #{yield :boxes}
    #footer
      .container
        %span{ style: 'float: left;' }
          %a{ href: 'impressum.html' } Impressum
          |
          %a{ href: 'datenschutz.html' } Datenschutz
          |
          %a{ href: 'agb.html' } AGB
          |
          %a{ href: 'presse.html' } Presse
        %span{ style: 'float: right;' }
          Michael Zemlin, M.A. - Actors and Business Coaching
