- content_for :title do
  PRESSE | Actors and Business Coaching
%h1 Presse...
#press{ style: 'height: 3455px;' }
  %a{ href: 'http://www.shz.de/lokales/flensburger-tageblatt/ein-regisseur-fuers-leben-id7472716.html',
    style: 'position: absolute; top: 0px; left: 0px;' }
    %img{ src: 'assets/presse/regisseur.jpg', alt: 'regisseur' }
  %a{ href: 'http://www.shz.de/schleswig-holstein/azubiz/fuer-den-ersten-eindruck-gibt-es-selten-eine-zweite-chance-id7623851.html',
    style: 'position: absolute; top: 800px; left: 0px;' }
    %img{ src: 'assets/presse/erster_eindruck.jpg', alt: 'erster_eindruck' }
  %img{ src: 'assets/presse/gesichter.jpg',
    style: 'position: absolute; top: 1070px; left: 270px;',
    alt: 'gesichter' }
  %img{ src: 'assets/presse/bewirken.jpg',
    width: '250',
    style: 'position: absolute; top: 1410px; left: 0px;',
    alt: 'bewirken' }
  %a{ href: 'files/artikel_auswege.pdf',
    style: 'position: absolute; top: 1070px; left: 0px;' }
    %img{ src: 'assets/presse/auswege.jpg', alt: 'auswege' }
  %img{ src: 'assets/presse/geschichte.jpg',
    style: 'position: absolute; top: 1580px; left: 0px;',
    alt: 'geschichte' }
  %img{ src: 'assets/presse/coaching.jpg',
    style: 'position: absolute; top: 1740px; left: -100px; z-index: -1;',
    alt: 'coaching' }
  %img{ src: 'assets/presse/workshop.jpg',
    style: 'position: absolute; top: 2375px; left: -70px',
    alt: 'workshop' }
  %a{ href: 'files/geschenkt.pdf', style: 'position: absolute; top: 3085px' }
    %img{ src: 'assets/presse/geschenkt.png', alt: 'geschenkt' }
  %img{ src: 'assets/presse/kaffee.jpg',
    style: 'position: absolute; top: 3085px; left: 665px',
    alt: 'workshop' }
