- content_for :title do
  REFERENZEN | Actors and Business Coaching
%h1 Referenzen...
%div.item
  %img{ src: 'assets/1.png', alt: '1' }
  :markdown
    **A. R., Leitende Angestellte:**

    'Vielen Dank für die Unterstützung im Vorweg eines Vorstellungsgespräches. Besonders gut fand ich, dass
    Herr Zemlin mich auf dem Weg, meine Kompetenzen herauszuarbeiten, begleitet aber nichts 'übergestülpt'
    hat. Michael Zemlin war sehr gut in der Lage, mich auf Fallstricke im bevorstehenden Vorstellungsgespräch
    hinzuweisen, mir aber keine Angst vor ihnen zu machen, sondern mich darin zu unterstützen, ihnen
    respektvoll aber kompetent zu begegnen. Meine Bewerbung war erfolgreich!'
%div.item
  %img{ src: 'assets/2.png', alt: '2' }
  :markdown
    **Sonja B., Schauspielerin:**

    'Obwohl ich gut ausgebildet wurde, fühlte ich mich oft unsicher am Film-Set. Michael, der auch Erfahrung
    als Regisseur hat, half mir dabei, einfühlsam und selbstbewußt die Rollen zu verkörpern!'
%div.item
  %img{ src: 'assets/3.png', alt: '3' }
  :markdown
     **Doris H., Steuerberaterin:**

     'Seit fünf Jahren hatte ich für einen wichtigen Klienten mit dem gleichen Honorar-Satz gearbeitet und
     mußte das aus Kostengründen dringend ändern. Herr Zemlin half mir, das nötige Selbstvertrauen aufzubauen
     und einen authentischen Auftritt bei dem Klienten zu schaffen- ich bekomme jetzt mein Wunsch-Honorar!'
%div.item
  %img{ src: 'assets/4.png', alt: '4' }
  :markdown
    **Andrea Z., Dolmetscherin:**

    'Am Ende meines Studiums standen Bewerbungsgespräche an. Michael Zemlin simulierte solche Gespräche mit
    mir so lange, bis ich mich sicher fühlte. Ich hatte kaum Lampenfieber und bekam den Job!'
%div.item
  %img{ src: 'assets/5.png', alt: '5' }
  :markdown
    **Martin O., Finanzberater:**

    'Ich wollte mich selbständig machen und mir fehlte der richtige Plan. Den habe ich mit meinem Coach
    Michael Zemlin erarbeitet und erfolgreich umgesetzt!'
%div.item
  %img{ src: 'assets/6.png', alt: '6' }
  :markdown
    **Claudia N., Diplom-Sozialarbeiterin:**

    'Danke für die klärenden Sitzungen und Inspirationen! Während ich dies schreibe, merke ich, wieviel
    eigentlich in letzter Zeit bei mir passiert ist. Meine berufliche Situation hat sich durch das Coaching
    deutlich verbessert!'
%div.item
  %img{ src: 'assets/7.png', alt: '7' }
  :markdown
    **Klaus L., Diplom-Kaufmann:**

    'Michael Zemlin hört genau hin. Er läßt mich erstmal erzählen – fragt nach, wenn  er meint, einen
    wichtigen Aspekt zu fassen zu haben. Dabei greift er auf ein breites Spektrum an Coaching-Werkzeugen
    zurück -– aber er bleibt immer flexibel und ganz beim Klienten. Es gibt keine zwei identischen Coachings
    -– das Coaching entwickelt sich während des Prozesses ganz individuell. Herr Zemlin erkennt, was der
    Klient mitbringt und was er vielleicht jetzt brauchen könnte. Danach wählt er die Instrumente und dann
    lässt er dem Prozess freien Lauf. Am Ende ist auch er manchmal überrascht, welchen Verlauf das Coaching
    genommen hat – immer darauf achtend, dass der Klient sich weiter entwickelt. Dabei ist mir aufgefallen,
    wie wichtig es für mich war, zu schauen, was ich schon alles erreicht hatte in meinem Leben, was ich
    schon alles getan hatte und was mir besonders viel Freude bereitet hat. Das, was mich vorher belastete,
    wurde kurz angeschaut und gewürdigt –- danach aber bewusst wieder das fokussiert, was ich gut kann, was
    mir Spaß macht, was mich erfüllt. Am Ende hatte ich eine komplett neue Sichtweise auf mich selbst --
    deutlich unbeschwerter und unternehmungsfreudiger – einfach lebendiger!'

    **Im Anschluss an das Coaching forcierte Klaus L. seine vorhandenen Talente als Schauspieler/Model
    und gewann im Wettbewerb des Schleswig-Holstein Topmodel 2015 (siehe folgendes Video). Inzwischen ist er
    als Führungskraft in der freien Wirtschaft tätig.**
%div.item
  :markdown
    **Außerdem wurden Coachings mit div. Firmen in Schleswig-Holstein und der Stadtverwaltung Flensburg erfolgreich
    durchgeführt.**
